body {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color:#1ebea5;
  padding:2rem;
}
.cont {
  text-align:center;
  padding:2rem;
  background-color:#f8f9fa;
}
p.label {
  text-align:left;
  font-size:20px;
}
.float-half {
  width: calc(50% - 2.2rem);
  margin:1rem;
  display:inline-block;
}
input, textarea {
  background-color:#EDF8F5;
  border: solid 1px #1ebea5;
  box-shadow:unset;
  border-radius:5px;
  padding:10px;
}
#input {
  width:100%;
  min-height:300px;
  font-size:18px;
}
#output {
  width:100%;
  min-height:194px;
  font-size:18px;
}
#phone {
  width:100%;
  font-size:18px;
}

.button--simple {
    border-radius: 5px;
    padding: 14px 24px;
    font-size: 16px;
    line-height: 19px;
    height: 19px;
    box-sizing: content-box;
    letter-spacing: 0.02em;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
  margin-top:20px;
}
.button--primary {
    background-color: #01E675;
    color: #fff !important;
  text-decoration:none;
}

@media print, screen and (max-width: 1200px) {
.float-half {
  width: calc(100% - 2.2rem);
  margin:1rem;
  display:inline-block;
}
}


.cosmo {
  color: #000;
  text-decoration:none;
  font-size:32px;
}
